name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.16.0-otp-26"
          otp-version: "26.0"

      - name: Install dependencies
        run: mix local.hex --force && mix local.rebar --force && mix deps.get

      - name: Format check
        run: mix format --check-formatted

      - name: Test
        run: mix test
